<h3>Whisky Network Reviews - About</h3>

<p>This data was collected from members of the
    <span data-tooltip tabindex="1" title="/r/whisky /r/bourbon /r/scotch /r/worldwhisky">Reddit Whisky Network</span>
    This tool is intended to make it easier to search that data. No ownership implied or stated.</p>
